<div class="grey lighten-5">
  <div class="navbar-fixed ">
    <nav class="white">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo black-text"><span style="font-family: 'Abril Fatface', cursive; font-size: 28px;
">Medium</span> | <span style="font-size: 24px">Scraper</span></a>
          <ul class="right hide-on-med-and-down">
          <li><a href="#" class="black-text">Home</a></li>
          <li><a  id="saved-articles-btn" class="black-text">Saved Articles</a></li>
          <li><a class="waves-effect waves-light btn" id="scrape-btn">Scrape Articles!</a></li>
          <li><a class="waves-effect waves-light btn">Clear Articles!</a></li>
        </ul>
        </div>
      </div>

    </nav>
  </div>
  this is home 