*{
  box-sizing: border-box;
}
.list-group-item {
  line-height: 2.5;
}



a {
  text-decoration: none;
  color: inherit;
}

.container-top {
  margin-top: 50px;
}
.article-container {
  margin-top: 50px;
}

.article-blocks {
  border: 2px solid black;
}

#headline-div {
  background: blue;
  padding: 20px 20px; 
}
/* 
.container-fluid {
  background-image: url('/images/rawpixel-623442-unsplash.jpg');
  background-size: cover;
} */

o{
  color: black;
  font-weight: 800;
}

a:hover {
  text-decoration: none !important;
}

.fa-minus-circle {
  color: red;
}

.fa-minus-circle:hover {
  opacity: 0.7;
}

.top-buttons {
  background: white;
  color: teal;
  border: 1px solid teal;
  border-radius: 5px;
}

.top-buttons:hover {
  text-decoration: none !important;
}

#saved-articles-btn {
  color: teal; 
}